/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    height: 50vh; /* Ajusta la altura para que ocupe la mitad de la página */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra horizontalmente el contenido */
    transition: background 0.5s ease;
}

.hero:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.about-us {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.about-us h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-images img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}

.history {
    padding: 50px 20px;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.history h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.history p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-top: 10px;
}

.contact input, .contact textarea, .contact select {
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
}

.contact button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media Queries */
@media (max-width: 1200px) {
    .hero {
        padding: 80px 0;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .hero {
        padding: 60px 0;
    }

    .about-images img {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 40px 0;
    }

    .history {
        padding: 30px 10px;
    }

    .history h2 {
        font-size: 1.5em;
    }

    .history p {
        font-size: 1em;
    }

    .about-images img {
        width: 100%;
        margin: 10px 0;
    }
}
